body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.02);
}

.button {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;	
}

.button-group li{	
	padding-top: 3%;
}

.button-group a{
	color: rgba(0, 0, 0, 1);
	background-color: transparent;
    padding-right: 2px;
}

.button-group a:hover {
	color: rgba(0, 0, 0, 0.4);
	background-color: transparent;
    padding-right: 2px;
}

.button-group{
	float: none;
}

@media only screen and (min-width: 40.063em) {
	.button-group{
		float: right;
	}
}

.namelogo {
	padding: 20px 0px 20px 0px;
}

@media only screen and (min-width: 40.063em) {
	.namelogo {
		padding-bottom: 20px;
	}
}

.namelogo h1 {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

@media only screen and (min-width: 40.063em) {
	.namelogo h1 {
		font-size: 16px;
		text-align: left;
	}
}

@media only screen and (min-width: 64.063em) {
	.namelogo h1 {
		font-size: 24px;
		text-align: left;
	}
}

.hero{
	background: url("../img/dreamcatcher.jpg");
    background-size: cover;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.15);
	height: 60%;
}

.intro-text {
	padding-top: 40%;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}

@media only screen and (min-width: 40.063em) {
	.intro-text{
		padding-top: 25%;
	}
}

@media only screen and (min-width: 64.063em) {
	.intro-text{
		padding-top: 18%;
	}
}

.intro-text p{
	font-family: 'Shadows Into Light', cursive;
	font-size: 44px;
}

.about, .work, .interests, .contact {
	padding: 50px 0 0 0;
}

.about img{
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;	
}

.work img{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    margin-bottom: 10px;
}

/*@media only screen and (min-width: 64.063em) {
	.work img{
        width: 100px;
        height: 100px;
	}
}*/

.work img:hover {
	opacity: 0.5;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.work li {
	/*height: 140px;*/
	overflow: hidden; 
}

.interests img{
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    margin-bottom: 30px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	opacity: 0.8;
}

footer {
	padding: 80px 0 10px 0;
}

footer a:hover {
	color: rgba(0, 0, 0, 0.4);
	background-color: transparent;
}

.top-bar {
    overflow: hidden;
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
    background: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

.top-bar ul {
    margin-bottom: 0;
    list-style: none;
}

.top-bar .row {
    max-width: none;
}

.top-bar form,
.top-bar input {
    margin-bottom: 0;
}

.top-bar input {
    height: 1.75rem;
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: 0.75rem;
}

.top-bar .button, .top-bar button {
    padding-top: 0.4125rem;
    padding-bottom: 0.4125rem;
    margin-bottom: 0;
    font-size: 0.75rem;
}

@media only screen and (max-width: 40em) {
    .top-bar .button, .top-bar button {
        position: relative;
        top: -1px;
    }
}

.top-bar .title-area {
    position: relative;
    margin: 0;
    background-color: inherit;
}

.top-bar .name {
    height: 1.6rem;
    margin: 0;
    font-size: 16px;
}

.top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4,
.top-bar .name p, .top-bar .name span {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 2.8125rem;
    font-size: 24px;
}   

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a,
.top-bar .name p a, .top-bar .name span a {
    font-weight: 600;
    color: #222222;
    width: 75%;
    display: block;
    padding: 0 0rem;
}

.top-bar .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0;
}

.top-bar .toggle-topbar a {
    color: inherit;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 0 0.9375rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
}

.top-bar .toggle-topbar.menu-icon {
    top: 50%;
    margin-top: -9px;
}

.top-bar .toggle-topbar.menu-icon a {
    height: 34px;
    line-height: 33px;
    padding: 0 2.5rem 0 0.9375rem;
    color: inherit;
    position: relative;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    margin-top: -8px;
    right: 0.9375rem;
    box-shadow: 0 0 0 1px #222222, 0 7px 0 1px #222222, 0 14px 0 1px #222222;
    width: 16px;
}

.top-bar .toggle-topbar.menu-icon a span:hover:after {
    box-shadow: 0 0 0 1px "", 0 7px 0 1px "", 0 14px 0 1px "";
}

.top-bar.expanded {
    height: auto;
    background: inherit;
}

.top-bar.expanded .title-area {
    background: inherit;
}

.top-bar.expanded .toggle-topbar a {
    color: #888888;
}

.top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0 0 1px #888888, 0 7px 0 1px #888888, 0 14px 0 1px #888888;
}

.top-bar-section {
    left: 0;
    position: relative;
    width: auto;
    transition: left 300ms ease-out;
}

.top-bar-section ul {
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font-size: 16px;
    margin: 0;
}

.top-bar-section .divider,
.top-bar-section [role="separator"] {
    border-top: solid 1px #1a1a1a;
    clear: both;
    height: 1px;
    width: 100%;
}

.top-bar-section ul li {
    background: inherit;
}

.top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: inherit;
    padding: 20px 15px 0px 15px;
    padding-left: 0.9375rem;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
    text-align: right;
}

.top-bar-section ul li > a.button {
    font-size: 0.8125rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
}

.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
    background-color: #007095;
}

.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
    color: #FFFFFF;
}

.top-bar-section ul li > a.button.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
}

.top-bar-section ul li > a.button.secondary:hover, .top-bar-section ul li > a.button.secondary:focus {
    background-color: #b9b9b9;
}

.top-bar-section ul li > a.button.secondary:hover, .top-bar-section ul li > a.button.secondary:focus {
    color: #333333;
}

.top-bar-section ul li > a.button.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF;
}

.top-bar-section ul li > a.button.success:hover, .top-bar-section ul li > a.button.success:focus {
    background-color: #368a55;
}

.top-bar-section ul li > a.button.success:hover, .top-bar-section ul li > a.button.success:focus {
    color: #FFFFFF;
}

.top-bar-section ul li > a.button.alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
}

.top-bar-section ul li > a.button.alert:hover, .top-bar-section ul li > a.button.alert:focus {
    background-color: #cf2a0e;
}

.top-bar-section ul li > a.button.alert:hover, .top-bar-section ul li > a.button.alert:focus {
    color: #FFFFFF;
}

.top-bar-section ul li > a.button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF;
}

.top-bar-section ul li > a.button.warning:hover, .top-bar-section ul li > a.button.warning:focus {
    background-color: #cf6e0e;
}

.top-bar-section ul li > a.button.warning:hover, .top-bar-section ul li > a.button.warning:focus {
    color: #FFFFFF;
}

.top-bar-section ul li > button {
    font-size: 0.8125rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
}

.top-bar-section ul li > button:hover, .top-bar-section ul li > button:focus {
    background-color: #007095;
}

.top-bar-section ul li > button:hover, .top-bar-section ul li > button:focus {
    color: #FFFFFF;
}

.top-bar-section ul li > button.secondary {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    color: #333333;
}

.top-bar-section ul li > button.secondary:hover, .top-bar-section ul li > button.secondary:focus {
    background-color: #b9b9b9;
}

.top-bar-section ul li > button.secondary:hover, .top-bar-section ul li > button.secondary:focus {
    color: #333333;
}

.top-bar-section ul li > button.success {
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF;
}

.top-bar-section ul li > button.success:hover, .top-bar-section ul li > button.success:focus {
    background-color: #368a55;
}

.top-bar-section ul li > button.success:hover, .top-bar-section ul li > button.success:focus {
    color: #FFFFFF;
}

.top-bar-section ul li > button.alert {
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
}

.top-bar-section ul li > button.alert:hover, .top-bar-section ul li > button.alert:focus {
    background-color: #cf2a0e;
}

.top-bar-section ul li > button.alert:hover, .top-bar-section ul li > button.alert:focus {
    color: #FFFFFF;
}

.top-bar-section ul li > button.warning {
    background-color: #f08a24;
    border-color: #cf6e0e;
    color: #FFFFFF;
}

.top-bar-section ul li > button.warning:hover, .top-bar-section ul li > button.warning:focus {
    background-color: #cf6e0e;
}

.top-bar-section ul li > button.warning:hover, .top-bar-section ul li > button.warning:focus {
    color: #FFFFFF;
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #555555;
    background: inherit;
    color: rgba(0,0,0,0.4);
}

.top-bar-section ul li.active > a {
    background: #008CBA;
    color: #FFFFFF;
}

.top-bar-section ul li.active > a:hover {
    background: #0078a0;
    color: #FFFFFF;
}

.top-bar-section .has-form {
    padding: 0.9375rem;
}

.top-bar-section .has-dropdown {
    position: relative;
}

.top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
    border-left-style: solid;
    margin-right: 0.9375rem;
    margin-top: -4.5px;
    position: absolute;
    top: 50%;
    right: 0;
}

.top-bar-section .has-dropdown.moved {
    position: static;
}

.top-bar-section .has-dropdown.moved > .dropdown {
    display: block;
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important;
    width: 100%;
}

.top-bar-section .has-dropdown.moved > a:after {
    display: none;
}

.top-bar-section .dropdown {
    padding: 0;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99;
    display: block;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.top-bar-section .dropdown li {
    width: 100%;
    height: auto;
}

.top-bar-section .dropdown li a {
    font-weight: normal;
    padding: 8px 0.9375rem;
}

.top-bar-section .dropdown li a.parent-link {
    font-weight: normal;
}

.top-bar-section .dropdown li.title h5, .top-bar-section .dropdown li.parent-link {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.125rem;
}

.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
    color: #FFFFFF;
    display: block;
}

.top-bar-section .dropdown li.title h5 a:hover, .top-bar-section .dropdown li.parent-link a:hover {
    background: none;
}

.top-bar-section .dropdown li.has-form {
    padding: 8px 0.9375rem;
}

.top-bar-section .dropdown li .button, .top-bar-section .dropdown li button {
    top: auto;
}

.top-bar-section .dropdown label {
    padding: 8px 0.9375rem 2px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #777777;
    font-weight: bold;
    font-size: 0.625rem;
}

.js-generated {
    display: block;
}

@media only screen and (min-width: 40.063em) {
    .top-bar {
        background-color: #fafafa;
        overflow: visible;
    }

    .top-bar:before, .top-bar:after {
        content: " ";
        display: table;
    }

    .top-bar:after {
        clear: both;
    }

    .top-bar .toggle-topbar {
        display: none;
    }

    .top-bar .title-area {
        float: left;
    }

    .top-bar .name h1 a {
        width: auto;
    }

    .top-bar input,
    .top-bar .button,
    .top-bar button {
        font-size: 0.875rem;
        position: relative;
        height: 1.75rem;
        top: 0.53125rem;
    }

    .top-bar.expanded {
        background: inherit;
    }

    .contain-to-grid .top-bar {
        max-width: 62.5rem;
        margin: 0 auto;
        margin-bottom: 0;
    }

    .top-bar-section {
        transition: none 0 0;
        left: 0 !important;
    }

    .top-bar-section ul {
        width: auto;
        height: auto !important;
        display: inline;
    }

    .top-bar-section ul li {
        float: left;
    }

    .top-bar-section ul li .js-generated {
        display: none;
    }

    .top-bar-section li.hover > a:not(.button) {
        background-color: #555555;
        background: inherit;
        color: #FFFFFF;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0px 2px 0px 32px;
        line-height: 2.8125rem;
        background: inherit;
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: #555555;
        background: inherit;
    }

    .top-bar-section li.active:not(.has-form) a:not(.button) {
        padding: 0 0.9375rem;
        line-height: 2.8125rem;
        color: #FFFFFF;
        background: #008CBA;
    }

    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: #0078a0;
        color: #FFFFFF;
    }

    .top-bar-section .has-dropdown > a {
        padding-right: 2.1875rem !important;
    }

    .top-bar-section .has-dropdown > a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 1.40625rem;
    }

    .top-bar-section .has-dropdown.moved {
        position: relative;
    }

    .top-bar-section .has-dropdown.moved > .dropdown {
        display: block;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }

    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        position: absolute !important;
    }

    .top-bar-section .has-dropdown > a:focus + .dropdown {
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        position: absolute !important;
    }

    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
        border: none;
        content: "\00bb";
        top: 1rem;
        margin-top: -1px;
        right: 5px;
        line-height: 1.2;
    }

    .top-bar-section .dropdown {
        left: 0;
        top: auto;
        background: transparent;
        min-width: 100%;
    }

    .top-bar-section .dropdown li a {
        color: #FFFFFF;
        line-height: 2.8125rem;
        white-space: nowrap;
        padding: 12px 0.9375rem;
        background: #333333;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        color: #FFFFFF;
        background: #333333;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        color: #FFFFFF;
        background-color: #555555;
        background: #333333;
    }

    .top-bar-section .dropdown li label {
        white-space: nowrap;
        background: #333333;
    }

    .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0;
    }

    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
        border-bottom: none;
        border-top: none;
        border-right: solid 1px #4e4e4e;
        clear: none;
        height: 2.8125rem;
        width: 0;
    }

    .top-bar-section .has-form {
        background: #333333;
        padding: 0 0.9375rem;
        height: 2.8125rem;
    }

    .top-bar-section .right li .dropdown {
        left: auto;
        right: 0;
    }

    .top-bar-section .right li .dropdown li .dropdown {
        right: 100%;
    }

    .top-bar-section .left li .dropdown {
        right: auto;
        left: 0;
    }

    .top-bar-section .left li .dropdown li .dropdown {
        left: 100%;
    }

    .no-js .top-bar-section ul li:hover > a {
        background-color: #555555;
        background: #333333;
        color: #FFFFFF;
    }

    .no-js .top-bar-section ul li:active > a {
        background: #008CBA;
        color: #FFFFFF;
    }

    .no-js .top-bar-section .has-dropdown:hover > .dropdown {
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        position: absolute !important;
    }

    .no-js .top-bar-section .has-dropdown > a:focus + .dropdown {
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        position: absolute !important;
    }
}

/*@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .my-magellan {
      display:none;
  }
}

@media only screen and (max-width: 40em) {
  .my-magellan {
      display:none;
  
}
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
    background-color:rgba(0,0,0,0.02);
    opacity: 100%;
    min-width: 100%;
    padding: 10px;
    z-index: 50;
}

[data-magellan-expedition] .sub-nav, [data-magellan-expedition-clone] .sub-nav {
    margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
    margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav a, [data-magellan-expedition-clone] .sub-nav a {
    line-height: 1.8em;
}*/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k8DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/UAnF6lSK1JNc1tqTiG8pNALUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b8DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(http://fonts.gstatic.com/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYPCElmnwKDalSnIV02fhbiI.ttf) format('truetype');
}

