body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.02);
}

.namelogo {
	padding: 10px 10px 10px 10px;
}

@media only screen and (min-width: 40.063em) {
	.namelogo {
		padding: 20px 10px 20px 10px;
	}
}

.namelogo h1 {
	font-size: 1em;
	font-weight: 600;
	text-align: center;
    color: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
}

.namelogo h1 a {
    color: inherit;
}

@media only screen and (min-width: 40.063em) {
	.namelogo h1 {
		text-align: left;
        font-size: 24px;
	}
}

.sub-nav {
    display: block;
    width: auto;
    overflow: hidden;
    margin: 0px -10px 0px -10px;
    padding: 0px 0px 10px 0px;
}

@media only screen and (min-width: 40.063em) {
	.sub-nav {
        padding: 20px 15px 20px 15px;
        margin: 0px 0px 0px 0px;
	}
}

.sub-nav dt {
    text-transform: uppercase;
}

.sub-nav dt,
.sub-nav dd,
.sub-nav li {
    float: left;
    display: inline;
    margin-left: 0;
    margin-bottom: 0;
    font-family: inherit;
    font-weight: normal;
    font-size: 0.8rem;
    color: inherit;
}

@media only screen and (min-width: 40.063em) {
	.sub-nav dt,
    .sub-nav dd,
    .sub-nav li{
        font-size: 1rem;
	}
}

.sub-nav dt a,
.sub-nav dd a,
.sub-nav li a {
    text-decoration: none;
    padding: 0.1875rem 1rem;
    color: inherit;
}

.sub-nav dt a:hover,
.sub-nav dd a:hover,
.sub-nav li a:hover {
    color: rgba(0,0,0,0.4);
}

.sub-nav dt.active a,
.sub-nav dd.active a,
.sub-nav li.active a {
    border-radius: 3px;
    font-weight: normal;
    background: inherit;
    padding: 0.1875rem 1rem;
    cursor: default;
    color: rgba(0,0,0,0.4);
}

.sub-nav dt.active a:hover,
.sub-nav dd.active a:hover,
.sub-nav li.active a:hover {
    background: inherit;
    color: rgba(0,0,0,0.4);
}

.hero{
	background: url("../img/hourtin.jpg");
    background-size: cover;
    background-position: bottom;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0);
	height: 60%;
}

.intro-text {
	padding-top: 30%;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}

@media only screen and (min-width: 40.063em) {
	.intro-text{
		padding-top: 25%;
	}
}

@media only screen and (min-width: 64.063em) {
	.intro-text{
		padding-top: 23%;
	}
}

.intro-text p{
	font-family: 'Shadows Into Light', cursive;
	font-size: 44px;
}

.about, .work, .sports, .contact, .languages {
	padding: 50px 0 0 0;
}

.about img{
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

@media only screen and (min-width: 40.063em) {
	.about img{
        width: 200px;
        height: 200px;
	}
}

.work img{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 40.063em) {
	.work img{
        width: 200px;
        height: 200px;
	}
}

.work img:hover {
	opacity: 0.5;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.work li {
	/*height: 140px;*/
	overflow: hidden; 
}

.sports img{
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 40.063em) {
	.sports img{
        width: 200px;
        height: 200px;
	}
}

.languages img{
	width: 100px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 40.063em) {
	.languages img{
        width: 200px;
	}
}

.languages p{
    text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    opacity: 0.8;
}

footer {
	padding: 80px 0 10px 0;
}

footer a:hover {
	color: rgba(0, 0, 0, 0.4);
	background-color: transparent;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .my-magellan {
      display:none;
  }
}

@media only screen and (max-width: 40em) {
  .my-magellan {
      display:none;
  
  }
}

[data-magellan-expedition], [data-magellan-expedition-clone] {
    background-color: #fafafa;
    opacity: 100%;
    min-width: 100%;
    padding: 10px;
    z-index: 50;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 40em) {
  [data-magellan-expedition], [data-magellan-expedition-clone] {
      padding: 0px;
  }
}

[data-magellan-expedition] .sub-nav, [data-magellan-expedition-clone] .sub-nav {
    margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
    margin-bottom: 0;
}

[data-magellan-expedition] .sub-nav a, [data-magellan-expedition-clone] .sub-nav a {
    line-height: 1.8em;
}

/*------------------------------------
 timeline styles
------------------------------------*/
.path-container {
  margin-top: 50px;
  margin-bottom: 70px;
}
.path-container .path-item h1 {
  text-align: center;
  margin-bottom: 70px;
}
.path-container .path-item h3 {
  margin-bottom: 10px;
  line-height: 1.15;
}
.path-container .path-item p {
  font-size: emCalc(16px);
  line-height: 1.7;
  margin-bottom: 25px;
}
.path-container .path-item a {
  font-weight: bold;
  font-size: emCalc(14px);
}
.path-container .path-item .circle {
  background-color: #ccc;
  background-size: 156px 156px;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  position: relative;
  margin-bottom: 180px;
  z-index: 2;
}
.path-container .path-item .circle.circle-left {
  left: -7px;
}
.path-container .path-item .circle.circle-right {
  right: -10px;
}
.path-container .line {
  background: #ddd;
  width: 2px;
  bottom: 0;
  position: absolute;
  top: 160px;
  left: 50%;
  z-index: 0;
  height: 1164px;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: rgba(0,0,0,0.2);
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cd-timeline-img img {
  display: block;
  /*width: 24px;
  height: 24px;*/
  position: relative;
  /*left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;*/
}
.cd-timeline-img.cd-work {
  background: #fff;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: rgba(0,0,0,0.2);
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k8DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/UAnF6lSK1JNc1tqTiG8pNALUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b8DdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(http://fonts.gstatic.com/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYPCElmnwKDalSnIV02fhbiI.ttf) format('truetype');
}

